/* ********************
GENERALITY
******************** */

:root {
    --primary-color: #EAB024;
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.classic-btn {
    width: 110px;
    border: none;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

h1,
h3
{
    margin: 1em ;
}

/* ********************
NAV
******************** */

nav {
    background-color: var(--primary-color);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.8rem;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

@media screen and (max-width: 900px) {

    nav {
        flex-direction: column;
        padding: 15px;
    }

    .logo {
        margin-left: 0;
        font-weight: bold;
        font-size: 1rem;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        margin: 0;
        margin-right: 20px;
        font-size: 0.8rem;
    }
}

/* ********************
MAIN
******************** */

section .product-container {
    display: flex;
    flex-wrap: wrap;
}
section {
    margin: 0 auto;
}

.product {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 2em 0;
}

.content-product {
    width: 60%;
}

.image-container {
    width: 150px;
    min-width: 150px;
    margin-right: 20px;
}

.image-container img {
    width: 100%;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.category {
    background-color: #adadad;
    display: inline-block;
    padding: 2px 10px;
    font-size: 0.7rem;
    color: rgb(94, 94, 94);
    border-radius: 2px;
    margin-left: 10px;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
}

.product form,
.content-product
{
    display: flex;
    flex-direction: column;
}

.product form input,
.content-product input
{
    margin-left: 10px;
    width: 30px;
}

@media screen and (max-width: 900px) {
    
    .product {
        width: 100%;
    }

    .content-product {
        width: 100%;
    }
}

/* ************ user profile ************ */

.user {
    padding: 2em;
}

.user form div {
    margin: 1em 0;
}

.user input {
    margin-left: 10px;
    padding: 5px;
}

/**************Panier************/

.clear-button {
    margin: 0 2em;
    background-color: rgb(155, 14, 14);
    color: #ffffff;
    padding: 5px 13px;
    width: 140px;
}

.valid-button {
    background-color: rgb(27, 116, 27);
    color: #ffffff;
    padding: 5px 13px;
    width: 140px;
}

/* ********************
DARK MODE
******************** */

.dark-mode-toggle{
    background-color: var(--primary-color);
    border: none;
}

body.dark,
img.dark
{
    --background-color: #333333;
    --text-color: #ffffff;
}

nav.dark,
button.dark
{
    background-color: #444444;
}

a.dark,
button.dark
{
    color: white;
}

